@import "variables";
@import "mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none !important;

  &::before, &::after, &:before, &:after, &:hover, &:focus, &:active {
    outline: none !important;
  }
}

// native elements

html {
  font-size: 1rem;
  scroll-behavior: smooth;
}

// native elements end
