$te-min-breakpoints: (
  -de: 600px, // default size - todo more correct mobile first
  -sm: 600px, // small size
  -md: 767px, // medium size
  -lg: 992px, // large size
  -xl: 1440px // extra large size
);

$te-max-breakpoints: (
  -de: 600px, // default size - todo more correct mobile first
  -sm: 600px, // small size
  -md: 766px, // medium size
  -lg: 991px, // large size
  -xl: 1439px // extra large size
);
/**
* @param {string} $size - breakpoints key name or '-cu' for custom size
* @param {number} pixels - custom size when $size param set to '-cu'
* @example te-screen-max('-md'); OR te-screen-max('-cu', 990);
*/
@mixin te-screen-max($size: '-de', $pixels: 600) {
  @if $size != '-cu' {
    @media screen and (max-width: map_get($te-max-breakpoints, $size)) {
      @content;
    }
  }
  @if $size == '-cu' {
    @media screen and (max-width: $pixels + px) {
      @content;
    }
  }
}

/**
* @param {string} $size - breakpoints key name or '-cu' for custom size
* @param {number} pixels - custom size when $size param set to '-cu'
* @example te-screen-min('-md'); OR te-screen-min('-cu', 990);
*/
@mixin te-screen-min($size: '-de', $pixels: 600) {

  @if $size != '-cu' {
    @media screen and (min-width: map_get($te-min-breakpoints, $size)) {
      @content;
    }
  }
  @if $size == '-cu' {
    @media screen and (min-width: $pixels + px) {
      @content;
    }
  }

}

@mixin te-screen-min-max($size: '-de', $min: 600, $max: 1439) {
  @if $size != '-cu' {
    @media screen and (min-width: map_get($te-min-breakpoints, $min)) and (min-width: map_get($te-min-breakpoints, $max)) {
      @content;
    }

  }
  
  @if $size == '-cu' {
    @media screen and (min-width: $min + px) and (max-width: $max + px) {
      @content;
    }
  }
}
